body {
    background-image: url('image/pngtree-kfcs-chicken-rice-flower-indoor-snacks-kfc-overhead-photography-with-pictures-image_856281.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    font-family: Arial, sans-serif;
}


#logo{
    width: 10%;
    margin-right: 0;
    padding-left: 43px;
    height: 70%;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 10;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #4cae4c;
}

.login-container a {
    display: block;
    margin-top: 10px;
    color: #337ab7;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-top: 10px;
}


